.git
.gitignore
.github
.elixir_ls
_build
deps
doc
cover
_snapshots
erl_crash.dump
*.ez
*.tar.gz
*.tar
nyanform
PLAN.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
docs
test
.credo.exs
.dialyzer_ignore.exs
.formatter.exs
